# Excluir dependências
/node_modules
/.pnp
.pnp.js

# Excluir Next.js build e cache
.next/
out/

# Excluir variáveis de ambiente
.env.local
.env*.local

# Excluir outros arquivos gerados
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.local

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# IDE
.vscode/
.idea/

# Logs
*.log